[2020-08-07 10:30] Langstra opened #1 "RequestContext cannot be accessed inside middleware"
|When accessing the RequestContext inside a controller like `RequestContext.currentRequestContext()` you get an Object and it is even possible to add new properties to it. However, inside nestjs middleware you get 'undefined' instead of an Object.

**Stack trace**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/RiskChallenger/mikro-orm-issue`
2. `yarn`
3.

[2020-08-07 20:09] B4nan commented on #1
That is because you are trying to read it before it gets created. Nothing I can do about this from the perspective of this package - the order is set by nest (or actually your code that defines the modules).

You could probably create a submodule that would be imported after the `MikroOrmModule`, and register the middleware there. Another way would be to register the `RequestContext` manually - bu

[2020-08-09 06:02] B4nan commented on #1
In `4.0.0-alpha.2` you can disable automatic context middleware creation via `registerRequestContext: false` in the `forRoot()` method.

[2020-08-09 06:02] #1 closed

[2020-08-11 03:26] devin-fee-ah opened #2 "Request-scoped transaction is better served by NestJS Injection Scoping"
https://github.com/mikro-orm/nestjs/blob/d24dd06a0d6f9993636e2a30a71b29750c12ba08/src/mikro-orm.middleware.ts#L4-L13

It seems like this would be better served using a request-based injection-scope as described here (https://docs.nestjs.com/fundamentals/injection-scopes) and using that for the middleware.

I can prototype something up, too.

[2020-08-11 05:18] B4nan commented on #2
Not really, there were some issues with that, iirc it was something with JWT middleware not supporting the nest di request scope.

But we could have that available optionally, agreed it would be cleaner. Btw it is now possible to disable the automatic request scope middleware registration.

[2020-08-17 23:24] quinnturner opened #3 "Invalid wildcard path for configuration with path-to-regexp v6 (Fastify v3)"
**Describe the bug**

`path-to-regexp` [deprecated](https://github.com/pillarjs/path-to-regexp/blob/master/Readme.md#compatibility-with-express--4x) the usage of `*` for a wildcard route:

While using Fastify v3, which uses path-to-regexp v6, and setting `app.setGlobalPrefix('api');` the project doesn't run.

Changing `*` to `(.*)` worked locally for me, though I have not confirmed if that will wo

[2020-08-17 23:30] #3 closed

[2020-08-18 23:17] maphe opened #5 "Bull - Scoped Jobs"
**Is your feature request related to a problem? Please describe.**
We're experiencing issues with [Bull](https://docs.nestjs.com/techniques/queues) where the Entity Manager is shared across all running jobs. That leads to errors memory leaks.

**Describe the solution you'd like**
There is this [open issue](https://github.com/nestjs/bull/issues/415) on the nestjs/bull side which might be a dependen

[2020-08-19 05:54] B4nan commented on #5
You should never use the global EM, always create a fork. If it's not possible to leverage `RequestScope`, then you need to create the fork manually I guess.

Btw it should be possible to use the `RequestScope` helper manually too, in latest version you also have `RequestContext.createAsync`:

[code]

[2020-08-19 06:28] maphe commented on #5
Thanks for the tip, that sounds like something that would make a good method decorators. Bull workers are defined via decorators so I guess I could have some kind of `@OrmIsolated` decorator or something of this kind, that would just wrap the function call into a temporary context.

Only thing is I'm not sure how I'd access the `orm.em` from there 🤔 is there some kind of static helper so I can get

[2020-08-19 06:34] B4nan commented on #5
Nope, no global state out of box, but you could probably get around that yourself, defining some global export where you store the ORM instance once it's ready.

[2020-08-19 06:38] maphe commented on #5
Ok thanks. I'll look into it. Might come back here with some more questions tho. But really appreciate the help.

[2020-08-20 00:10] maphe commented on #5
Just sharing here what we ended up doing:
[code]

So the only constraint that's added is to inject MikroORM to our job consumers before applying the decorator to the worker methods.

Might be worth having something similar built in here, I don't know.

[2020-08-20 06:56] B4nan commented on #5
Feel free to send a PR. I'd use a bit different naming, `@UseRequestContext()` maybe?

Also you might want to use `RequestContext.createAsync` that will actually await the callback, as `RequestContext.create` will not return a promise.

[2020-08-20 07:01] maphe commented on #5
Cool, I'll do that eventually. Thanks

Like your better naming as well 👍

[2020-08-20 16:46] maphe commented on #5
@B4nan the `createAsync` version is only available in v4, any idea when it will get released?

[2020-08-20 16:51] B4nan commented on #5
Latest rc is stable, i am already using that in production. Will ship the final later this month.

[2020-08-20 16:57] maphe commented on #5
Cool, thanks.

[2020-09-04 09:20] Quadriphobs1 opened #6 "How to use entity repository in service without injecting"
The mikro-orm docs have a way to create a repository https://mikro-orm.io/docs/next/repositories however from the documentations and example there has been no way to use the repository like you would in typeorm

[code]

[2020-09-04 09:44] B4nan commented on #6
You define the custom repository, and it will be used automatically. If you use `@Repository()` decorator, you need to make sure the file will be loaded, so the decorator can be executed (without that, the ORM does not know about such repository).

One way to make sure the file will be loaded is to link it from the entity definition. To do so, you can use `EntityRepositoryType`, that will also all

[2020-09-04 09:56] Quadriphobs1 commented on #6
Hmmm... Having to go through the @InjectResitory seems a little bit overly roundtrip to me, I was actually hoping for a way to either register it through the module as a provider or something just as services can be registered using the provider

[2020-09-04 10:09] B4nan commented on #6
I still don't follow what you mean. So you don't like the `InjectRepository` bit, but are fine with using nest DI in general? You can make the repository injectable, the decorator is needed only when you do not have custom implementation.

This is how the repositories are registered, you can use the same way to register your custom repository:

https://github.com/mikro-orm/nestjs/blob/master/src/m

[2020-09-04 10:16] Quadriphobs1 commented on #6
Ohhh that seems better... Having to put the decorator on the repository is what I was actually concerned about...  but removing also do the trick...

[2020-09-07 13:33] Langstra opened #7 "Jest test suite leaking memory"
**Describe the bug**
While running tests the test suite is leaking memory. We found out when at some point in time our tests crashed due to being out of memory.

I believe this has to do with mikro-orm and not with jest or nestjs, because I created a new nestjs project. The tests then worked. After adding @mikro-orm/core and @mikro-orm/nestjs the tests came up with the error.

**Stack trace**
[cod

[2020-09-07 14:02] B4nan commented on #7
Yes, it is leaking, because for each test you are bootstrapping the application, but you never tear it down. Add this to the test file and the leak is gone:

[code]

[2020-09-07 14:02] #7 closed

[2020-09-07 14:10] Langstra commented on #7
Oh yea, forgot to add that in the reproduction repository. However, even after adding it the memory leak remains.

[2020-09-07 15:46] Langstra commented on #7
I see that is responds to the onApplicationShutdown hook, but maybe it should be used in beforeApplicationShutdown? Since onApplicationShutdown will run after app.close resolves?

Also maybe enableShutdownHooks need to be enabled as they are by default disabled?

[2020-09-07 16:00] B4nan commented on #7
Oh I see, it was more of a random "pass". Anyway, the "detect leaks" feature is experimental, for me it never worked correctly. See here for example:

https://github.com/facebook/jest/issues/5234

This is based on the `@nestjs/typeorm` module, so I'd say that should be correct when it's done by the author of nest.

https://github.com/nestjs/typeorm/blob/master/lib/typeorm-core.module.ts#L102

Remo

[2020-09-22 04:20] chasevida opened #8 "Add support for `autoLoadEntities`"
**Describe the bug**
First off, great project - I'm really grateful for all the work you've put in on this.

The issue I'm running into with this module is when it's run within a [nest monorepo](https://docs.nestjs.com/cli/monorepo) the glob patterns for entity discovery does not work (for `js` or `ts` files). This appears to be a known issue also faced with TypeORM where they have added an [`auto

[2020-09-22 06:57] B4nan commented on #8
I thought that nest monorepo mode = using webpack. And webpack = you cannot use folder based discovery at all.

[2020-09-22 21:50] chasevida commented on #8
Yeah that's sounds right (first 48 hours into nest/mikro-orm). However, I wasn't sure how TypeORM was able to do this and wondered if I was missing something here. I might go through the docs again to see if there's a way I can register entities locally (in their seperate module scopes) before they are instantiated in root.

[2020-09-23 09:09] B4nan commented on #8
Looking at the `autoLoadEntities`, sure we can do the same here, it's just not supported currently.

[2020-09-23 12:14] #6 closed

[2020-09-23 12:28] #8 closed

[2020-09-23 12:39] #5 closed

[2020-09-24 12:38] jsprw commented on #2
I have been using a modified provider of the EnitityManager token and it's working fine for me (disabled the request context option):

[code]

I could create a PR with this change for you to test it (altough it's an easy fix)?

[2020-09-24 12:52] B4nan commented on #2
The thing is that the native request scope from nest does not work with things like their JWT service. This is the issue I am talking about:

https://github.com/nestjs/nest/issues/1870

This is for me the main reason why to prefer the `RequestScope` solution (that can be nowadays also [replaced with `AsyncLocalStorage`](https://github.com/mikro-orm/nestjs#using-asynclocalstorage-for-request-contex

[2020-09-24 12:57] jsprw commented on #2
See my comment here why I prefer using this over RequestContext: https://github.com/mikro-orm/mikro-orm/issues/315#issuecomment-698322261. Angular's zone.js and with this approach of getting the repositories you can't really use the Zone'js solution that easy either.

Alright, will create a PR in a bit.

[2020-09-25 16:03] #2 closed

[2020-10-21 08:44] thomasraydeniscool opened #10 "No entities found, please use `entities` option"
**Describe the bug**
When I use `forRootAsync` in the `AppModule` and define entities in their own modules using `forFeature` I get: "Error: No entities found, please use `entities` option" when I try to compile.

I read in the documentation and it says you only need define _base_ entities in `forRootAsync` so I am confused.

**Stack trace**
N/a

**To Reproduce**
Steps to reproduce the behavior:
1

[2020-10-21 08:48] thomasraydeniscool commented on #10
Imported in AppModule:
[code]

UserModule:
[code]

[2020-10-21 08:48] B4nan commented on #10
Nope, this is not how in works. `forFeature` is only to register repositories to nest DI, `forRoot` is for initializing the ORM and at this point it needs to know all entities.

What you can do is to uses `autoLoadEntities`, but that won't work with base entities (they need to be discovered too, but you can't register those with `forFeature` as there is no repository for them).

https://github.com

[2020-10-21 08:48] #10 closed

[2020-10-21 08:50] thomasraydeniscool commented on #10
Thanks for clarifying @B4nan

[2020-11-11 18:28] muradm opened #11 "reflect MultiRequestContext for nestjs"
There is a fresh [enhancement-872](https://github.com/mikro-orm/mikro-orm/issues/872) which adds `MultiRequestContext`. Do you have a plan to reflect its impact for nestjs? I.e. how multiple instances could be used under nestjs?

[2021-01-08 21:39] SimoneDagna opened #12 "MikroOrmModule.forRootAsync ignores MikroOrm provider useFactory function"
**Describe the bug**
When importing MikroOrm with `forRootAsync` and using Factory provider: `useFactory` the given options are ignored and defaults are used instead.
From the stack trace it looks like it is instantiating MikroOrm class directly instead of using  `useFactory` from the MikroOrm custom provider that uses `MikroOrm.init()` method.
https://github.com/mikro-orm/nestjs/blob/master/src/m

[2021-01-08 23:00] B4nan commented on #12
Having `MikroORM` explicitly inside `providers` seems wrong, try removing it.

[2021-01-08 23:02] B4nan commented on #12
You can see that from the stack trace, it is caused by that because nest di is trying to create new instance itself. Remove it and let the nest mikro orm adapter create the instance.

[2021-01-08 23:02] #12 closed

[2021-01-09 09:31] SimoneDagna commented on #12
Awesome! Removing MikroOrm from providers solved the problem, thanks for the support.

[2021-01-12 17:17] ardyfeb opened #13 "[Question] Using AsyncLocalStorage"
I currently going to refactor previous orm on our nestjs backend from Typeorm to Mikro ORM, i see using Mikro ORM with nestjs requiring RequestContext Middleware to ensure each request have clean entity manager state. Because middleware is only for regular http request and cannot be used on background job, queue, or any task running on background.

So using entity manager outside request scope the

[2021-01-12 17:37] B4nan commented on #13
`@UseRequestContext` decorator is currently bound to the domain api only, but the code is very simple, you can create custom decorator that will use the ALS easily.

https://github.com/mikro-orm/nestjs/blob/master/src/mikro-orm.common.ts

[2021-01-12 18:44] ardyfeb commented on #13
So `@UseRequestContext` not need when using `AsyncLocalStorage` ? but how to achieve same behavior with `AsyncLocalStorage` ? or its not required ?

[2021-01-22 08:23] Davide-Gheri opened #14 "Injectable EventSubscribers"
**Is your feature request related to a problem? Please describe.**
It would be awesome if EventSubscriber classes could support NestJs DI so we can inject dependencies in them.

**Describe the solution you'd like**
The current `@Subscriber()` decorator cannot be used as it directly creates a new instance:
https://github.com/mikro-orm/mikro-orm/blob/master/packages/core/src/decorators/Subscriber.ts

[2021-01-22 08:53] B4nan commented on #14
This is already possible:

[code]

[2021-01-22 08:53] #14 closed

[2021-01-22 09:02] B4nan commented on #11
It should be possible to use it right now, by disabling the automatic context middleware (`registerRequestContext: false`) and creating your own, where you use the `MultiRequestContext` instead.

[2021-01-30 08:02] Lishenga opened #15 "TypeError: Cannot read property 'getContext' of undefined"
Hello am trying to retrieve one record from the database am getting this error "TypeError: Cannot read property 'getContext' of undefined". What could be the issue?

Below is my code in an entity repository that's being called in a service in Nest Js Framework

`async validateUserPassword(signInCredentialsDto: SignInCredentialsDto): Promise<LoginUsers | null> {
        const { email, password } =

[2021-01-30 08:14] B4nan commented on #15
Please provide executable reproduction. There is no way anybody can help based on just error message (not even full stack trace).

Will close this, issues should follow the issue template and need to be verifiable - will be happy to reopen if you can provide something I can actually try.

[2021-01-30 08:14] #15 closed

[2021-01-30 08:43] Lishenga commented on #15
Okay let me try to give you a proper picture of what am doing, am working on graphql api using nest js framework, am trying to login a person, so at the resolver level i have this code running

`
import { AuthService } from "../services/auth.service";
@Resolver(of => LoginUsers)
export class AuthResolver {
@Mutation(returns => AccessToken)
    signInLoginUser(
        @Args("signInCredentials") si

[2021-01-30 08:56] B4nan commented on #15
This is close to being unreadable, please learn how to format code properly :] Anyway, I was asking for executable repro, not for snippets of your code.

Looking at this, I can already see you have some entity definitions wrong (e.g. using `mapToPk` means the type is the PK type, not the entity). But that won't be the problem here.

You have something wrong in the Nest DI part, as apparently it wo

[2021-01-30 10:24] Lishenga opened #16 "Custom decorators using class validator"
Does MikroORM allow the querying of entities inside a custom decorator using class validator. For instance like this

<img width="868" alt="Screenshot 2021-01-30 at 13 20 12" src="https://user-images.githubusercontent.com/33782195/106353764-fd3fd900-62fd-11eb-848c-dac90c6a9541.png">

When i execute the above code out, i get an error "Cannot read property 'findOne' of undefined"
So am wondering if

[2021-01-30 10:29] B4nan commented on #16
Well, this is not about MikroORM support, this does not make sense in general. What is `this` inside that context? How would he repository instance get inside that context? That is the error you are seeing - you try to execute a method on repository that is not there.

[2021-01-30 10:29] #16 closed

[2021-01-30 11:23] Lishenga commented on #16
Thank you so much, any idea how i would make database queries in that context?

[2021-01-31 09:10] roderik opened #17 "autoLoadEntities does not work when using Test.createTestingModule"
**Describe the bug**

I recently switched to the `autoLoadEntities` way to load entities.

Imagine the following "flow"

- MainAppModule
  - imports AuthModule
    - imports UserModule
      - imports MikroOrmModule.forFeature([User])

This works perfectly while running the application.

But when testing this, the entities do not get loaded.

[code]

Gives me the following stack trace

[code]

I c

[2021-02-11 18:26] nikkonrom commented on #6
Is there any way to specify `[EntityRepositoryType]: CustomAuthorRepository;` while defining entities through `EntitySchema`?

[2021-02-11 20:26] B4nan commented on #6
Just put it to the class/interface:

[code]

You need both, `EntityRepositoryType` is for TS inference, `customRepository` is for the ORM runtime metadata.

[2021-03-03 02:45] oqlioc opened #18 "Error when using ResolveField of graphql and populate of mikro-orm"
**Describe the bug**
If mikro-orm populate in community <- board <- post relationship,
board Collection object, ResolveField continues to run and an error appears.
I want to use both. Is there a solution?

Entitiy
[code]

[code]

[code]
Resolver
[code]

**Error message**

console
[code]

graphql error message
[code]

**Versions**

| Dependency | Version |
| - | - |
| node | v14.15.4 |
| typescript

[2021-03-03 07:38] B4nan commented on #18
Would be good to spend more time on debugging, I don't think there will be anybody able to help with this without seeing at least the full stack trace. I don't see anything that would point to issue in MikroORM from what you posted. Not talking about this being probably a GQL issue, not connected to the ORM.

Also I don't really understand the point of using big ints and mapping them to JS numbers

[2021-03-03 07:38] #18 closed

[2021-03-08 21:19] Langstra opened #19 "Move into the mikro-orm repo"
The MikroORM repo contains a lot of different packages: cli, db-adapters, knex, core, migrations. It seems weird that the nestjs package is not in this repo.
There are also a few advantages to mergen this into the main repo. It would keep the version at the same level as the main MikroORM package, keeps dependencies up to date and with that shows users that this package is serious and begin kept u

[2021-03-08 21:39] B4nan commented on #19
I want to keep it outside, there is no need to sync the version, I see it the opposite way - version bump here has a meaning, there is a change in this package (if we had it in the main one, there would be new versions and pretty much no changes).

I do sync the major versions as those usually require some updates, but I don't see any benefits doing the sync for minor and patch versions.

Also, th

[2021-03-08 22:44] Langstra commented on #19
That is a valid point, but that would be the same for all the other packages in the MikroORM repo. Even though they are probably more often updated than this one, they still get a version bump, even when they have have no changes.

I think it would not hurt to keep the dependencies up to date, maybe something seemingly irrelevant breaks the package and in such case we'd like to know.

[2021-03-08 23:09] B4nan commented on #19
For me its quite different with the packages from monorepo. They form the ORM and are much more tighly coupled. Developing something in one package often involves changes in others.

On the other hand, this is an adapter that ingerating two libraries together and is more of an extension for nest than MikroORM - that is maybe the biggest reason why I dislike it being there.

[2021-03-16 18:56] anlauren commented on #17
Hello! any news on that? from what i'm reading in the module code it would be because this line:
[code]
returns "entities" instead of "entitiesTs". Would it come from the fact that jest config says `ts-jest`
I'm not sure if there's a way around to enforce ts node in a test config, i see the `preferTsNode` value there 🤔

[2021-03-16 18:59] B4nan commented on #17
You can control that just by passing `tsNode: true` to the ORM config - that way the detection is skipped and `entitiesTs` will be used.

[2021-03-16 19:02] anlauren commented on #17
Beautiful i'll try this out!

[2021-03-16 19:17] anlauren commented on #17
Works nicely!
Don't know if it's worth mentioning somewhere in the docs for people using jest in that way 🤔

[2021-03-25 11:48] AaronPerezPerez opened #20 "Multiple database connections"
We currently have two MikroORM instances, one connecting to a MongoDB and another connecting to a PostgreSQL, but we are facing troubles as the configs are being confused.

We implemented it like this.

This is the module that allows us to  choose if we want to use real or fake repositories on the tests suites
[code]
This is the `mikro-orm-mongo.config.ts`:
[code]
This is the `mikro-orm-postgres.c

[2021-03-25 11:53] B4nan commented on #20
This will be caused by how the nest adapter registers the EM and repositories - both of your ORM instances will use the same tokens in the DI.  You should be able to register things yourself manually.

Also you will need to handle the request context manually and give your ORM instances distinct names. See the tests:

https://github.com/mikro-orm/mikro-orm/blob/master/tests/RequestContext.test.ts#

[2021-03-26 09:24] hong-duc opened #21 "The UseRequestContext make the method return void"
**Describe the bug**
I am develop chat app with nestjs gateway(socketio). I apply UseRequestContext on a method in the service that have it return a value, but it return void instead. When I remove UseRequestContext it return value normal

**To Reproduce**
Steps to reproduce the behavior:
1. Write a Service with method return value
2. Apply UseRequestContext to method
3. Call it

**Expected behavi

[2021-03-26 09:31] Langstra commented on #21
It is unclear what your intentions are exactly. Could you create a repository with a reproduction of the bug? That is much easier to debug then these steps to reproduce.

[2021-03-26 09:34] B4nan commented on #21
I was just about to write the same but realized what the issue is about. The decorator wrapes given method but it won't return its return value.

The return value is ignored on this line: https://github.com/mikro-orm/nestjs/blob/4e0bad0ffb36cfb3802a3eda4ec2272e33341d82/src/mikro-orm.common.ts#L22

Anyway, next time please share some code when filing a bug report, this is not the right way to do it

[2021-03-26 10:34] AaronPerezPerez commented on #20
Hi again, what we finally did was to provide two different MikroORM instances instead of using the `MikroOrmModule.forRoot()` and then inject them in our repositories.
It looks like this:
[code]

[2021-03-26 10:39] B4nan commented on #20
You still need to register the request context yourself, as it was done automatically for you via `MikroOrmModule.forRoot()` that is no longer used.

Each request needs to have its own context, using global one will cause side effects and memory leaks.

https://mikro-orm.io/docs/identity-map/#why-is-request-context-needed

[2021-04-01 14:49] babsonmatt opened #22 "RequestContext example for GraphQL"
**Is your feature request related to a problem? Please describe.**
I'm using GraphQL with NestJS but noticing that the same entity manager is being used for all requests and I'm not sure how to proceed with establishing a new context per request.

**Describe the solution you'd like**
It'd be great if this library just worked out of the box with NestJS GraphQL but if not maybe some example code wou

[2021-04-01 14:53] B4nan commented on #22
There is this one here:

https://github.com/driescroons/mikro-orm-graphql-example

Can't help more, never really used GQL myself 🤷

[2021-04-01 15:09] B4nan commented on #22
There is also this: https://github.com/MichalLytek/type-graphql/tree/v1.1.1/examples/mikro-orm

[2021-04-01 17:50] babsonmatt commented on #22
@B4nan thanks haha, I saw those but I'm looking for an example more specific to graphql + nestjs (it seems much more straightforward with graph or nestjs on their own)

[2021-04-02 08:34] roderik commented on #22
I just hit the same issue. @babsonmatt did you find a workable approach?

[2021-04-02 14:05] B4nan commented on #22
This is normal/expected, in fact the `RequestContext` is there to allow using singletons (global EM and its attached repository instances). Under the hood the correct EM is taken via `em.getContext()` where needed.

[2021-04-02 14:12] B4nan commented on #22
Actually I though I already did some debugging with this apollo vs request context issue. And indeed I was right, and there was someone who managed to debug it and found the cause:

https://github.com/mikro-orm/mikro-orm/issues/696#issuecomment-669846919

[2021-04-02 15:01] roderik commented on #22
Ok, it works!

You can do the changes in the previous comment as follows.

main.ts
[code]

app.module.ts
[code]

[2021-04-02 15:17] #22 closed

[2021-04-07 09:54] SimoneDagna commented on #21
The "problem" is also in `RequestContext` class from Mikro-Orm project:
https://github.com/mikro-orm/mikro-orm/blob/7e7427335a005bb379509a9a9e86a01c44a21e07/packages/core/src/utils/RequestContext.ts#L37-L42

the return type is `Promise<void>`, so even modifying the line:
https://github.com/mikro-orm/nestjs/blob/4e0bad0ffb36cfb3802a3eda4ec2272e33341d82/src/mikro-orm.common.ts#L22
the `UseRequestCon

[2021-04-16 14:42] FelipeEmerim commented on #15
I had the same problem, in my case I was declaring my custom repository as a provider and also importing it in the module configuration. Removing the repository from the providers array solved it.

[2021-04-26 18:21] jearangoo opened #23 "usage of UseRequestContext decorator"
hello, im just starting using mikro-orm with nestjs and grpc, i saw in the documentation that a clean state is needed for each request https://mikro-orm.io/docs/usage-with-nestjs/#request-scoped-handlers-in-queues

so i added this decorator to the "getUser" service method like this

[code]

but in the controller the returned value from the service is undefined, when i remove the decorator from the

[2021-04-26 18:27] B4nan commented on #23
This is actually a duplicate of #21, so closing. Apparently noone wants to PR this, so will take a look at that myself, should be trivial to fix.

Anyway, the fact that you need it is a warning flag to me - you should use the decorator on the top level, which is the controller I guess, so it can be shared down the line.

[2021-04-26 18:27] #23 closed

[2021-04-26 18:33] jearangoo commented on #23
@B4nan thank you, you are right it should be in the controller

[2021-05-02 01:13] jasonwilson opened #24 "Handling multiple database connections"
**Is your feature request related to a problem? Please describe.**
Looking for examples on how to handle multiple postgres database connections with NestJS.

**Describe alternatives you've considered**
Tried initializing multiple MikroORM modules but there doesn't seem a clear way to specify the database name (only schema) on the model.

[code]

**Additional context**
N/A

[2021-05-02 08:48] B4nan commented on #24
There is no way to say "this entity belongs to this database" (from the entity perspective), it sounds like a bad design to me (yes, I know typeorm does it that way, just like many other things I consider bad 🤷). I really don't see why we should tie entities to particular database (from the entity def standpoint), this should be controlled from the other way around. Feel free to try to change my m

[2021-05-02 08:48] #24 closed

[2021-05-02 08:50] B4nan commented on #11
Closing as duplicate of #20, let's track this there.

[2021-05-02 08:50] #11 closed

[2021-05-03 22:26] jasonwilson commented on #20
@B4nan thanks for referencing this issue was able to setup a similar environment splitting out each database as a separate orm instance.

We rely in the mikro-orm tooling which looks for `mikro-orm.config.ts`.  Is there a a way to dynamically specify the configuration or connection in the cli? If not might be something to consider for v5.

[2021-05-04 06:42] B4nan commented on #20
You could override any config option via env vars.

https://mikro-orm.io/docs/configuration/#using-environment-variables

[2021-05-04 16:26] jasonwilson commented on #20
This would work as a "one off" for running commands but there's no way to inject or share `.env` configuration into the app when using multiple connections.

Another option would be to specify the `mikro-orm.config.ts` path via environment variable. I didn't see that option in the list, let me know if I missed it.

[2021-05-04 16:30] B4nan commented on #20
Nope, that's not possible.

You can either wait for #545 or of course you could send a PR right ahead :]

If nobody contributes, will probably do it before v5 is out myself.

[2021-05-04 16:50] jasonwilson commented on #20
I'm happy to open a PR for specifying orm config via env variable if you'll accept it.

[2021-05-04 16:52] B4nan commented on #20
Sure we can start with that, I'd also add a CLI option for this ideally.

Just keep in mind that master is already v5 and I am not planning to backport features to v4, so if you will want to benefit from that, you will need to switch to v5 dev version.

[2021-05-04 17:04] B4nan commented on #20
Or actually this is already implemented, almost forgot about that - you can use `MIKRO_ORM_CLI` env var which will add the CLI config path.

https://mikro-orm.io/docs/installation/#setting-up-the-commandline-tool

[2021-05-18 21:48] marcus-sa commented on #13
I'm curious about this as well, since I'm trying to use ALS for event based request contexts.

[2021-05-26 13:23] marcus-sa commented on #12
Doesn't seem to be fixed.

[2021-05-26 13:51] B4nan commented on #12
If you want help, provide a simple reproduction and all the details as described in issue template. Your linked project is too huge to review. But this particular issue was always invalid, if you see similar stack trace, it might point to some misusage rather than bug. Make sure you do not have `MikroORM` inside providers, it will be exported automatically. Also ensure you are calling `forRootAsyn

[2021-06-18 07:44] EricMcRay opened #25 "Custom repository injection without naming convention"
**Is your feature request related to a problem? Please describe.**
I am replacing typeorm with mikro-orm for a project. I replaced all decorators and repositories but just one repository didn't work. After my 4 hour struggle, I realized that I have a typo in the repository name.

**Describe the solution you'd like**
I am not nestjs pro but inject and resolve repositories from `@Entity` decorators

[2021-06-18 08:43] B4nan commented on #25
I literally have no idea what you are asking for. Please provide some examples and be more verbose.

But don't expect MikroORM decorators or options to have any effect on how nest DI work, that won't be an option, I can say that right ahead.

[2021-06-18 11:44] EricMcRay commented on #25
basicly; getting rid of `getRepositoryToken()` mentioned in https://mikro-orm.io/docs/usage-with-nestjs#using-custom-repositories.

[2021-06-18 12:03] B4nan commented on #25
How do you expect that to work? All services in nest DI need to have a name. This has nothing to do with MikroORM or its integration, this is how nest works.

[2021-06-21 09:03] EricMcRay commented on #14
Can you also put this to documents? I was looking for this solution for hours.

[2021-07-03 11:40] B4nan commented on #17
ts-jest detection will land soon hopefully, related PR adding support for detecting ts-jest: https://github.com/kulshekhar/ts-jest/pull/2717

[2021-07-08 14:44] msheakoski opened #27 "Add Nest 8 support"
Nest 8 was released recently: https://github.com/nestjs/nest/releases/tag/v8.0.0

~~At first glance, it does not look like there are any breaking changes that would affect this package, so probably just the dependencies need to be updated in package.json~~

@mekwall [is correct](https://github.com/mikro-orm/nestjs/issues/27#issuecomment-877275940) that there seems to be a problem with dependency i

[2021-07-08 15:14] inglkruiz commented on #27
I did face a small issue in my Unit tests after upgrading to Nest 8. I used to get Repository classes using

[2021-07-08 15:24] msheakoski commented on #27
@inglkruiz Have you tried with getRepositoryToken?

[code]

[2021-07-08 20:47] woltob commented on #22
@roderik thank you for your input.
We are also running NestJS with Apollo GraphQL and we could not get the per Request Identity Map  / Entity Manager to work. Could you please provide use with a small repo (or just one file that shows the config) that display how this is achieved? It is a major blocker currently.
Any hints to other code bases are also appreciated.
Thanks!!

[2021-07-08 21:10] roderik commented on #22
my last comment has the fix

disable bodyparser in GraphQLModule.forRootAsync, then manually enable it again after the app is initialised like so using   app.use(bodyParser.json());

[2021-07-08 21:40] B4nan commented on #22
It is also described in the docs:

https://mikro-orm.io/docs/usage-with-nestjs#request-scoping-when-using-graphql

[2021-07-09 15:38] mekwall commented on #27
I am pretty certain that the changes introduced in [this PR](https://github.com/nestjs/nest/pull/6141) broke the dependency injection of this package.

[2021-07-13 08:51] Nisgrak commented on #27
I am using in Nest 8 and works so far

[2021-07-13 17:09] jearangoo commented on #27
i can't install with nestjs version 8  `npm i -s @mikro-orm/nestjs --verbose`

[code]

[2021-07-13 17:13] Nisgrak commented on #27
Install with `--force`, we need to update at least the peerDependecies (would be great to rush that, then works in the reported bugs)

[2021-07-17 20:09] hcharley opened #30 "Nest can't resolve dependencies of the MikroOrmCoreModule (Symbol(mikro-orm-module-options), ?). Please make sure that the argument ModuleRef at index [1] is available in the MikroOrmCoreModule context."
**Describe the bug**

I've tried several configurations, but I keep getting this error.

**Stack trace**
[code]

**To Reproduce**

[code]

DomainModule imports ResourceModule

[code]

**Expected behavior**

To see dependencies resolved

**Additional context**
Add any other context about the problem here.

**Versions**

| Dependency | Version |
| - | - |
| node | v12.18.3 |
| typescript | 4.3.5 |

[2021-07-17 20:15] hcharley commented on #30
I console logged out the options I passed into the MikroOrmModule static methods I used:

[code]

[2021-07-18 06:30] evantrimboli commented on #30
See: https://github.com/mikro-orm/nestjs/issues/27

[2021-07-18 15:43] hcharley commented on #30
It's a strange thing, but I was able to overcome this issue by starting my feature branch fresh. There was probably some implemenation quirk I ran into.

I'm happy to close this issue (although I may open it back up if I come across it again).

[2021-07-19 07:28] B4nan commented on #30
If you are using nest 8 then it is a dup of #27. If not, provide full repro.

[2021-07-19 07:28] #30 closed

[2021-07-24 17:58] notmedia commented on #27
@B4nan Hi, any news?)

[2021-07-26 01:28] Maikuh commented on #27
Injecting Repositories seem to work fine, but injecting `EntityManager` (from `@mikro-orm/postgresql` to be specific) does not.

I get the following error:
[code]

[2021-07-26 15:14] ltudisco commented on #27
I am experiencing the same issue @Maikuh is experiencing after upgrading to NestJS 8.

[2021-07-30 09:12] TLmaK0 commented on #16
Take a look to https://github.com/nestjs/nest/issues/528

[2021-07-30 17:27] Dudrie commented on #27
I am experiencing the same issue as @Maikuh but is use the `@mikro-orm/mysql` package instead of the postgresql one.

[2021-08-03 09:21] TLmaK0 opened #31 "Injected EntityRepository has the same EntityManager on every request"
**Describe the bug**
I'm not sure that this is an incorrect behavior. When print EntityRepository from a controller action, it always return the same EntityManager:

[code]

but mikro-orm middleware creates a new context in every request, so a fork of EntityManager is created:

[code]

In my project I when some request fail and request again, the last entity added with fail to the EntityManager ex

[2021-08-03 09:24] B4nan commented on #31
You work with the global instances, that is the whole point of `RequestContext` helper. Internally the fork is used, you can access it via `em.getContext()`.

[2021-08-03 09:24] #31 closed

[2021-08-03 09:56] TLmaK0 commented on #31
@B4nan Do you have any idea why in every request my folders collection increase by one? I'm not calling `flush`, so it doesn't persist to db.
This is my controller:

[code]
Thanks for your help

[2021-08-03 10:50] B4nan commented on #31
idk, enable debug mode, if you see insert queries, you are flushing somewhere. might be really misconfigured request context.

also note that there is reason to persist managed entities, flush will always go thru all managed entities. another note - flush is an action of UoW, both persist and flush on repository is just a shortcut, you always work with the EM, repository is just a think layer on t

[2021-08-03 11:13] TLmaK0 commented on #31
Thanks @B4nan. There aren't any "insert" in the logs (the table is empty). I will try to create a project to reproduce it.

[2021-08-03 11:20] B4nan commented on #31
Well, if you dont see any insert queries in logs, then its not the ORM who does it. Or maybe I misunderstood what you mean by "in every request my folders collection increase by one".

[2021-08-03 11:28] TLmaK0 commented on #31
I mean, when I call `console.log(bucket.folders)` inside the controller, it prints one more folder in every request, but there isn't any folder in the table.

[code]

[2021-08-03 11:35] B4nan commented on #31
That really looks like misconfigured request context. As I already said in the very first reply, you can verify it via `em.getContext().id`, so ensure you have different ids for each request.

Are you testing this via regular requests or is it some unit/integration test? Does it work the same if you work with EM instead of repositories?

I can assure you there is no problem with the request contex

[2021-08-03 11:39] B4nan commented on #31
Wild guess, but common source of weird issues is having misaligned package versions. All ORM packages need to be on the very same version, only exceptions are the nest package and highlighters.

[2021-08-03 11:52] TLmaK0 commented on #31
Many thanks @B4nan, I will try to review package versions. This is what I get from em.getContext().id:

[code]

multiple requests returns
[code]

[2021-08-03 11:57] B4nan commented on #31
Yeah thats definitely wrong. Try to compare what you are doing differently from the example project, as there the request context is setup properly.

[2021-08-03 13:56] TLmaK0 commented on #31
Thanks @B4nan. Finally I found the problem. I use FastifyAdapter, removing it from the app it works as expected, so there is something wrong with @mikro-orm/nestjs and Fastify. Here is a repo to test it https://github.com/proptex/nestjs-fastify-mikro-orm. If you comment the line 30 from `FolderController.ts`, you will get the same result without inserts in the database. Removing FastifyAdapter fro

[2021-08-03 14:09] B4nan commented on #31
Check this PR, the detection is probably not working or they made some BC again

https://github.com/mikro-orm/nestjs/pull/4

[2021-08-03 15:05] #19 closed

[2021-08-04 11:09] TLmaK0 commented on #31
@B4nan the `createDomain()` from `RequestContext` is called in every request, but the problem is that in  `RequestContext.currentRequestContext()` https://github.com/mikro-orm/mikro-orm/blob/v4.5.7/packages/core/src/utils/RequestContext.ts#L48, active is undefined when use FastifyAdapter. Any thoughts?

[2021-08-04 11:25] B4nan commented on #31
I already told you where to look, this is not about `RequestContext` class, this is about the middleware that is using it. See the PR #4 and check the fastify detection that is added there.

[2021-08-04 11:32] TLmaK0 commented on #31
I have checked and `usingFastify(consumer)` returns true, also forRoutesPath returns '(.*)' which is correct.

[2021-08-04 11:38] B4nan commented on #3
hey there @quinnturner, looks like the fastify support is probably broken again, as per #31, do you know something changed again? is it working fine for you?

(repro is here https://github.com/proptex/nestjs-fastify-mikro-orm)

[2021-08-04 15:19] TLmaK0 commented on #31
This is the explanation of the behavior I found in the repro: https://github.com/proptex/nestjs-fastify-mikro-orm.

With FastifyAdapter, Fastify tries to parse the content:

https://github.com/fastify/fastify/blob/8371ba04d6ee8fb320ae1535233b3a999882fe3c/lib/contentTypeParser.js#L203 here domain.active is correct.

https://github.com/fastify/fastify/blob/8371ba04d6ee8fb320ae1535233b3a999882fe3c/li

[2021-08-04 17:47] quinnturner commented on #3
Unfortunately, I stopped working on the project that used this stack several months ago, so I don't think I can help much.

[2021-08-10 07:48] TLmaK0 commented on #31
@B4nan I think we should reopen the issue. I have tested it with other node versions and I can reproduce the same problem with the repro. I was not able to make it work with Fastify (no problems with express). I think the issue is the use of "domain" that is being deprecated. It could be that some one has a workaround.

[2021-08-16 20:24] JoelVenable commented on #27
Any progress on this?  I'm having an issue with custom repositories that extend from EntityRepository<MyModel>.  Basically, any custom methods that I define are coming back `undefined` at runtime...

[2021-08-19 18:21] #27 closed

[2021-08-20 09:57] B4nan commented on #27
v4.3 stable is out

[2021-08-20 12:25] B4nan commented on #31
I did try to use the fastify adapter with the realworld example, and it works just fine for me, no issues with request contexts. The only endpoint that was not working was the one for favoriting articles, which is probably caused by some difference in routing (as the endpoint is not reachable from tests and returns 400, rest of them work just fine).

[2021-08-24 12:44] Regan-entrostat opened #32 "DI failing to find Mikro-Orm repositories after upgrading to NestJs v8"
**Describe the bug**
Dependency injection errors are thrown as a result of Nest not being able to find an entity's repository. Repositories are all imported in a single module (database.module.ts) using the forFeature() function.

**Stack trace**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open repo : git@github.com:Regan-entrostat/askgogo_issue_1.git
2. Run 'npm install && nest s

[2021-08-24 12:46] B4nan commented on #32
support for nest v8 was added in v4.3, [you are using v4.2](https://github.com/Regan-entrostat/askgogo_issue_1/blob/main/backend/package-lock.json#L584)

so first try to upgrade to latest, it should be already fixed there

[2021-08-24 13:19] Regan-entrostat commented on #32
This helped resolve quite a few of the DI failures though unfortunately not all of them. I am happy though to close this issue and do another if I don't get the rest resolved. Thanks very much !

[2021-08-24 14:02] Regan-entrostat commented on #32
So I am still running into the same issue as I have resented except but with different repositories. I have update the mikro-orm/nest package as suggested. The issue has been replicated and can be found in the link in the above issue. I have also adjusted the issue's stack trace and versions to reflect the changes.

[2021-08-24 14:25] B4nan commented on #32
This is actually not really about MikroORM, the issue here is that your custom repositories for some entities are not even registered, like the one for `AdminUser`, because the `@Repository` decorator does not get executed before the ORM initialization.

I will probably remove that decorator in v5, it only adds weird issues like this. It can work _only_ if you ensure the file will get required soo

[2021-08-24 14:25] #32 closed

[2021-08-28 12:26] B4nan commented on #17
Closing, should work out of box with ts-jest 27.0.4+ and MikroORM v4.5.9+

[2021-08-28 12:26] #17 closed

[2021-08-28 12:36] #25 closed

[2021-08-28 12:38] B4nan commented on #13
v5 is using ALS by default

[2021-08-28 12:38] #13 closed

[2021-08-31 07:50] #21 closed

[2021-09-01 13:41] abelland commented on #15
maybe what is missing here is the @InjectRepository(FooRepository) decorator before argument declaration

[2021-09-15 15:02] ahaw opened #34 "Mikroorm Scope.REQUEST breaks scheduler"
**Describe the bug**
When using MikroOrmModule.forRootAsync with scope: Scope.REQUEST it breaks cron module.

**To Reproduce**
Steps to reproduce the behavior:
1. npm install --save @nestjs/schedule @nestjs @mikro-orm/core @mikro-orm/nestjs @mikro-orm/sqlite
2. define cron schedule like in example on botton
3. load mikroOrmModule.forRootAsync with parameter scope: Scope.REQUEST

**Expected behavio

[2021-09-15 15:15] B4nan commented on #34
Why would you use `Scope.REQUEST` and at the same time `AsyncLocalStorage`? Those are two alternative solutions to achieve the same thing. `Scope.REQUEST` can be quite problematic in nest, I'd suggest not using it.

This feels more like a nestjs issue, I don't think you can use their request scope with things like CRON that by definition require to be global. In nest if you define any service as r

[2021-09-15 15:15] #34 closed

[2021-09-22 15:05] EduVencovsky commented on #15
Here is an example on how to get this error.

If you have a module of an entity `Foo` and also have a repository for `Foo`, you would have something like this

[code]

[code]

And in the module you would need to use `MikroOrmModule.forFeature` to register the entity and repository (using `EntityRepositoryType` in the entity), which would look something like:

[code]

Later you think something like

[2021-09-22 15:56] B4nan commented on #15
I believe you should not export the repository like that, you should call the forFeature in the other module instead to have it available. Having it in the providers seems wrong too, the forFeature call is what registers the provider for giver repositories.

[2021-09-28 16:19] jearangoo commented on #21
can this fix be included into a new version in npm?

[2021-09-29 10:30] B4nan commented on #21
Oh right, forgot to release it - I don't have time for this right now but will ship it early next week.

But the method is really a simple one, nothing special in it, so you can just copy the code to your project and use your (fixed) implementation instead.

[2021-10-04 17:56] EduVencovsky commented on #27
Does this means that only upgrading to v4.3 or higher will make it work?

Because I updated to the lasted version available (4.5.9) but I'm still getting the error

Is there any other step to make it work? If there is, please explain or add to some docs, otherwise it can be some other mistake I made while updating nest

[2021-10-04 18:01] EduVencovsky commented on #30
@hcharley what do you mean by "starting fresh" ? What exactly you did to make it work? I'm having the same issue and upgrading to v4.3 doesn't  solve it.

[2021-10-12 11:19] grimurd opened #35 "Support connect argument from MikroORM.init()"
**Is your feature request related to a problem? Please describe.**

When testing it can be useful to initial MikroORM without connecting to a database. MikroORM supports this through the [connect argument in MikroORM.init()](https://mikro-orm.io/docs/api/classes/core.mikroorm#init).

Currently the nestjs module doesn't support this.

**Describe the solution you'd like**

Either add a argument to M

[2021-10-13 09:09] woltob opened #36 "Conflicting Peer Dependencies"
Hi,

I am currently upgrading NestJS to version 8 as it is supposed to work now with MikroORM.

However, I am receiving the following issues after a clean npm install and running npm audit fix.

[code]

As far as I would understand it, peer @nestjs/common@"^7.0.0||^8.0.0" from @mikro-orm/nestjs@4.3.0 would also include version 8.0.11 which I have installed (@nestjs/common)

Any idea on how to fix

[2021-10-14 02:56] H6LS1S opened #37 "Add a standard interceptor for the transformation of instance into POJO"
For most simple CRUDs don't often have to resort to mapping the entity via the response DTO, but often need to hide fields in the entity using mikro-orm or decorators from the `class-transformer` library. All this leads to writing similar code for the service (see below). This typing causes nestjs plugins working with Abstract Syntax Tree analysis, such as - `@nestjs/swagger/plugin`, to simply bre

[2021-10-14 23:58] H6LS1S commented on #37
@B4nan. It all started when I noticed fields in the API response that were marked as `hidden: true` in entity. After that I started trying different serialization methods, and only `toPOJO` was suitable for sharing with `class-transformer`

[2021-10-15 08:58] B4nan commented on #37
It (fastify) definitely does call it (see https://github.com/fastify/fastify/blob/main/lib/schema-compilers.js and https://github.com/fastify/fast-json-stringify/blob/master/index.js#L900-L905, it uses its own helper to do this, but it works the very same way), at the very last stage, as JSON string is what you transfer over http, not objects. Your problem is that you want to work with POJO before

[2021-10-21 09:29] tofixx opened #39 "failing npm audit fix caused to dependency conflict"
**Describe the bug**
I receive a peer dependency conflict with nestjs@8 and mikroorm/nestjs@4.3.0 when calling `npm audit fix`.

**Stack trace**
[code]

**To Reproduce**
Steps to reproduce the behavior:
The execution happened within of the project https://github.com/hpi-schul-cloud/schulcloud-server/tree/765c1f3a632ae2c539575ab4d9d061898c0d96e9

**Expected behavior**
A clear and concise descriptio

[2021-10-21 09:46] B4nan commented on #39
It's caused by other package, not mikro orm. Namely (based on your lock file) it is `@golevelup/nestjs-rabbitmq` that depends on the old nest version (v7.6.18), while you are trying to use v8.

[2021-10-21 09:46] #39 closed, assigned to B4nan

[2021-10-24 19:02] rizchaerul opened #40 "Please make sure that the argument SqlEntityManager at index [1] is available in the AppModule context."
**Describe the bug**
I got this error when injecting EntityManager from @mikro-orm/postgresql. Right now my solution is just to import EntityManager from @mikro-orm/knex or @mikro-orm/core and it can run without error. But earlier when i tried MikroORM v5, i got the same error when importing from @mikro-orm/knex. Now the only one that works is from @mikro-orm/core.

![image](https://user-images.gi

[2021-10-24 20:55] #40 closed, assigned to B4nan

[2021-10-25 01:49] rizchaerul opened #41 "@mikro-orm/entity-generator is causing error"
**Describe the bug**
I made a repo to reproduce the bug: https://github.com/rizchaerul/bug

Hi, so earlier i made an issue here https://github.com/mikro-orm/nestjs/issues/40. I found out what causing it, it's the entity-generator.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone from https://github.com/rizchaerul/bug
2. Run pnpm i
3. Run yarn start:dev
4. It will show error
5. Run pnpm

[2021-10-25 06:59] #41 closed, assigned to B4nan

[2021-11-01 20:58] behalka commented on #27
I am also still experiencing this issue with 4.3

[2021-11-01 21:02] B4nan commented on #27
This issue is already addressed, if you experience something similar, please open new issue with full reproduction.

[2021-11-01 21:05] msheakoski commented on #27
I can confirm, no issues with this since v4.3 in August. Try deleting your node_modules dir and reinstalling packages.

[2021-11-01 21:09] behalka commented on #27
thank you, was just about to update my comment, it is probably because of `pnpm` install, as mentioned in #41

[2021-11-01 21:47] B4nan commented on #27
Will try to test it with pnpm too, but I am a bit overloaded these days.

[2021-11-01 21:53] behalka commented on #27
In the meantime, as workaround, we could use `EntityManager` from `@mikro-orm/knex`. As you said, it is the same thing, just reexported and the DI works as expected 🙂  Thank you for your time!

[2021-11-02 20:00] kestereverts commented on #27
To those experiencing this issue since upgrading to NestJS 8, using `yarn`, but not using `pnpm`: I was able solve the problem by matching the `mysql2` dependency version in my project's `package.json` with the one used by `@mikro-orm/mysql-base`.

Not doing so will cause package-local installs of `@mikro-orm/knex` instead of a single global one, effectively breaking NestJS's DI. It wasn't a probl

[2021-11-06 10:27] #36 closed

[2021-11-06 10:43] B4nan commented on #27
Just came across [this issue](https://github.com/pnpm/pnpm/issues/3917) regarding pnpm - worth checking if the installation of `@mikro-orm/knex` package helps.

You should not install that package yourself (unless you work with it directly, not via the ORM). It is no longer a peer depedency - just install `@mikro-orm/mysql` that includes it in its direct dependencies.

[2021-11-06 13:32] parisholley opened #44 "Alternative NestJS Approach"
In moving to a persist/flush model system like Mikro, I find it important to prevent developers on my team from making mistakes like using some global entity manager with a persisted identity map across requests. At the moment, it is very easy to inject Mikro into any service, controller, etc without realizing the repercussions. At a high level, these are my requirements:

* No one should be able

[2021-11-06 13:47] parisholley commented on #44
somehow, i completely missed the ALS announcement in v14, looks neat but may impact performance at scale (probably not a concern for most projects)

that being said, would the ALS implementation account for transactions? eg: i usually put my orchestration at the controller/resolver level, and wrap all the service calls into a transaction. it isn't clear in the case of nested services (or perhaps i

[2021-11-06 13:56] B4nan commented on #44
ALS is actually very fast, compared to the domain API. When I was perf testing this last time, there was quite a small penalty for ALS, few percent, maybe up to 10-20%, but I don't really remember now.

ALS is actually used internally to hold the transaction context in v5 - again opt in, you can still use the EM from parameter explicitly, only if you work with the global instance the ALS is checke

[2021-11-06 14:47] parisholley commented on #44
ALS makes sense, your pretty much use it everywhere or not

can you expand on that?

[2021-11-06 15:06] B4nan commented on #44
I mean you can't flush in parallel (for that you need forks with their own UoW instance), for reading it should be fine.

[2021-11-17 11:45] EduVencovsky commented on #20
I'm still lost on how to connect to multiple databases (In my case, I want to connect to two different postgres databases).

Is there any way to do this without any problems or it still needs a PR?

[2021-11-27 11:29] dukesteen opened #45 "MikroOrmCoreModule is very slow to initialize"
Hi, I have a very basic nestjs application with just a couple routes and entities, but initializing the MikroOrmCoreModule is very slow every time I want to hot reload the app. Here is the console output showing that it takes almost 22 seconds to initialize. Am I doing something wrong here or is this a bug? Can anyone else reproduce this?

[code]

[2021-11-27 11:31] B4nan commented on #45
What about enabling the debug mode to actually see what is happening? Also share your ORM config. It is probably discovery, and if you use ts-morph and have a lot of entities, it could happen, as ts-morph discovry is indeed expensive, especially if you do not have a performant machine.

[2021-11-27 12:58] dukesteen commented on #45
It had an underlying issue which was discovered in the slack channel. It was trying to connect to the database but couldn't so it waited a long time.

[2021-11-27 12:58] #45 closed

[2021-12-09 16:49] rynti commented on #30
### Preface

I encountered this error and was stuck for a while, but recently figured it out and wanted to post my issue+solution in case someone else stumbles on it.

### The issue

The core issue was that I had **multiple installations of nestjs**, although they had the same version, but just in different folders. And then the mikro-orm packages were accessing a different installation of NestJS

[2021-12-11 18:40] Mitch-i opened #46 "Nestjs + Fastify You cannot call em.flush() from inside lifecycle hook handlers"
I have the same issue https://github.com/mikro-orm/mikro-orm/issues/627 if

[code]
And no issue if use custom repository

[code]
[code]

[code]

PS: in user module works well in custom logger module to database don't work

[2021-12-11 18:47] B4nan commented on #46
Please dont ignore the issue template - what versions are you using? Ideally provide full repro.

[2021-12-13 12:10] Langstra commented on #46
This does not sound like a bug, but more like a limitation of the current implementation. It is also in the documenation: https://mikro-orm.io/docs/lifecycle-hooks/#limitations-of-lifecycle-hooks

[2021-12-15 08:49] Mitch-i opened #47 "Fastify adapter is not creating request contexts for POST requests"
**Describe the bug**
Fastify adapter is not creating request contexts for POST requests.

[code]

and

[code]

Console output is: '1 Using global EntityManager instance methods for context specific actions is disallowed.'

**To Reproduce**
Steps to reproduce the behavior:

clone https://github.com/Mitch-i/nest-mikro-rom
change config
npm i
npm run dev

curl -XPOST -d '{ "birthday": "2021-12-14", "

[2021-12-15 09:00] B4nan commented on #47
side note: if you say "all latest" in the versions part, you are doing it very wrong. you should put the exact versions you are using. how can i know what does latest mean? latest master? latest 4.x version? latest stable? and if i release new version tomorrow, will that mean it was latest stable yesterday?

it needs to be exact versions, so we get the same information even when we get to the issu

[2021-12-15 09:00] B4nan commented on #46
duplicate of #47, keeping the new issue as this one has no reproduction.

[2021-12-15 09:00] #46 closed

[2021-12-15 13:23] Mitch-i commented on #47
#https://github.com/mikro-orm/nestjs/issues/31

[2021-12-15 13:31] Mitch-i commented on #31
This is the end, a bug that live 4 month.

[2021-12-15 15:01] #47 closed

[2021-12-20 18:18] jearangoo opened #48 "Question: how to mock orm:MikroOrm in a class that uses UseRequestContext decorator"
**Describe the bug**
hello i am trying to unit test a class that have the UseRequestContext decorator like this
[code]
but i can't mock the orm property of the class, this is the test file im using, i use MikroORM.init and use that value for the mock
[code]
im getting this error because the MikroORM.init method is trying to connect to a database
[code]
i tried to set the option connect: false for

[2022-01-06 02:51] oznakn commented on #47
Hello,

Apparently, fastify's body-parser middleware loses the AsyncResource context while parsing the POST data. NestJS uses `fastify-formbody` package under the hood, and that one uses Node's `querystring` package. While the POST data is being parsed, the AsyncResource context has been lost.

Here is a simple patch that I wrote to overcome this problem.

[code]

Although this is not something re

[2022-01-07 23:03] rjlopezdev opened #50 "Load EntitySchema"
Is it possible to load `EntitySchemas` the way `Entities` are loaded at `MikroOrmModule`?
How could it be done?

Use Case:

[code]

[code]

**Note**: Foo is a plain class (not annotated with `@Entity` decorator)

[2022-01-08 09:58] B4nan commented on #50
`forFeature` is not for loading entities, it just registers repositories. it should work the very same way, just put the entity class in there (and it will probably work with entity schema instance too). `forFeature` accepts a string name or any object with `name` property (both class and entity schema instance works this way).

[2022-01-08 09:58] #50 closed

[2022-01-11 06:14] gianlazz commented on #20
I also have this as a required use case in the process of migrating from typeorm on an existing project where I had two databases supported. Using `MIKRO_ORM_CLI` appears to be working for me 🎉

For example, I have a `mikro-orm.sqlite.config.js` & `mikro-orm.postgres.config.js` file respectively for each. Then use commands as such:

[code]

[2022-02-09 23:21] mrfsbDev commented on #6
Does nestjs work the same way?

[2022-02-16 19:40] renovate[bot] opened #54 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency mstruebing/editorconfig-checker to v2.4.0](../pull/52)
 - [ ] [chore(deps): update typescript-eslint monorepo

[2022-02-17 00:08] parisholley opened #55 "Publish v5 compatible package"

[2022-02-19 23:48] tsangste commented on #20
I tried my hand at implementing multiple database connections as this is something that would benefit us

[2022-02-20 12:27] sayav opened #57 "Importing EntityManager fails when using webpack"
**Describe the bug**
I've got an issue with webpack not being able to dynamically import '@mikro-orm/knex' or '@mikro-orm/mongodb' in the `whenModuleAvailable` function. Since these are imported as enums (e.g. `import(EntityManagerModuleName.Knex)`) webpack does not bundle these modules. It's possible to fix this by importing with strings `import("@mikro-orm/knex")`. I can write a pull request if

[2022-02-20 12:30] B4nan commented on #57
Feel free to PR this, this particular piece of code also came from someone else, I don't really like that enum there anyway.

[2022-02-20 13:24] #35 closed

[2022-02-20 13:25] B4nan commented on #35
`connect` will be a regular configuration option too since v5.0.3 of the ORM (no changes in the nest adapter, just upgrade the ORM)

[2022-02-20 13:29] #20 closed

[2022-02-20 13:38] B4nan commented on #57
Will you have time for this during today? I'd like to ship v5 in few hours, will be happy to look into it myself right now, if you haven't started already.

[2022-02-20 14:00] sayav commented on #57
I can have it done today for sure

[2022-02-20 14:22] B4nan commented on #57
Already started, so will push what I have in a minute and feel free to improve on that :]

[2022-02-20 15:10] sayav commented on #57
Oh sorry I missed that message. Feel free to look at the pull request.

[2022-02-20 15:21] #57 closed

[2022-02-20 15:21] B4nan commented on #57
I see we ended up with quite similar approach, mine being a less verbose I guess.

[2022-02-20 15:37] B4nan commented on #55
v5 is out

https://github.com/mikro-orm/nestjs/blob/master/CHANGELOG.md#500-2022-02-20

[2022-02-20 15:37] #55 closed

[2022-02-20 21:29] YasiOnFire opened #60 "Out of date info in README.md"
**Describe the bug**
Hi, I believe that the Custom Repository section of [README.md](https://github.com/mikro-orm/nestjs#using-custom-repositories) needs updating, as the `@Repository` decorator has been removed. Not sure how to migrate my `**./*.repository.ts**` files to v5 :)

[2022-02-20 21:53] #60 closed

[2022-02-24 05:56] sheyDev commented on #15
You haven't added

@Entity({ customRepository: () => UsersRepository })

in your entity declaration

[2022-03-16 12:34] christiaan-lombard opened #67 "Custom repositories not sharing the same request scoped Entity Manager"
**Describe the bug**
When injecting both the EntityManager and a custom repository I noticed that the EntityManager bound to the repository is not the same EntityManager. I expect to always get the same EntityManager for a given request.

[code]

**Stack trace**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository [github.com/christiaan-lombard/nestjs-mikro-orm-test](https

[2022-03-16 15:50] B4nan commented on #67
Which part fails? Comparing the instances is wrong, they should not be the same, you should compare just the `em.id`.

[2022-03-17 04:13] duplessisbabylonstoren commented on #67
@B4nan I believe the part that fails is the very last test: `expect(em.id).toBe(repo.getEntityManager().id);`

[2022-03-17 13:47] christiaan-lombard commented on #67
@B4nan I am comparing the EMs by `id` and by reference. I will comment below what fails and passes:

[code]

The repository I referenced previously ([github.com/christiaan-lombard/nestjs-mikro-orm-test](https://github.com/christiaan-lombard/nestjs-mikro-orm-test)) has all the context and configuration to run the above test.

My suspicion as to what might be causing this is the fact that the [Mikro

[2022-03-17 13:53] B4nan commented on #67
FYI everything in the DI container are global instances. They will work with the context under the hood, as well as the `em.id` will respect it (check the code, its a getter that actually gives you `this.getContext().id`).

[2022-03-17 13:55] B4nan commented on #67
Oh i see, you are using the nest request scopes instead of the RequestContext helper. I would rather suggest using the helper, that way will work for sure, and I am almost sure it will be better performance wise too (but measure if you want to be sure).

[2022-03-18 12:42] B4nan commented on #67
Yeah its a bug for sure, lets keep this open, i havent had time to check the repro yet, worst case it might be a wontfix but want to check it first. Btw have you tried using the `@InjectRepository` decorator? Might produce different results.

[2022-03-29 18:42] ChiefJacob commented on #15
I just ran into this same issue, It would be helpful if the Documentation for MikroORM with NestJS went over this sort of thing.

[2022-04-02 00:02] samuraitruong opened #68 "Cant not inject Entity Manager"
**Describe the bug**
My project is working before but suddently, it stop working because DI cant load EntityManager, While the InjectRepository still working in the same class

**Stack trace**
[code]
Got below error
[code]
After dig deeper in the code, I found that there is another package using @mikro-orm/knex so that why it make  the injection look for SQLEntityManager

**To Reproduce**
Steps to

[2022-04-14 13:43] jblyberg opened #71 "Request scoping when using microservices"
Perhaps I'm missing something or the docs are a little unclear on this so this is more of a question. I have a number of microservices that I would like to migrate from mongoose to mikro-orm, but it seems like the middleware is specifically for express instances (with some caveats for fastify)

[code]

So It seems the automatic middleware is out, so if I disable that and use ALS, I still need to h

[2022-05-04 20:37] rat-matheson commented on #68
Did you have any progress with this?  I'm having the same issue.  In my case, I'm trying to use the SqlEntityManager in a forFeature module.  I'm using sqlite.

[2022-06-01 12:53] productdevbook opened #77 "nestjs news version upgrade and MikroOrmCoreModule bugs"
![image](https://user-images.githubusercontent.com/38668796/171408895-6b99f2ce-6cf0-4a68-bc02-66aeb19f04dd.png)

iam upgrade nestjs and

[code]

[2022-06-01 13:12] #77 closed, assigned to B4nan

[2022-06-01 13:52] productdevbook commented on #77
`yarn.lock` and `node_modules` delete and re yarn install fixed. Thank you

[2022-06-12 11:10] henrytran9704 commented on #14
Me to man :((

[2022-06-13 08:44] B4nan commented on #14
What about sending a PR adding it to the docs yourself? :]

This is open source, I cant do everything myself, especially not here, this nestjs adapter is something I never wanted to maintain myself, I just took over because the original maintainer stopped responding.

[2022-06-21 23:28] perebusquets opened #79 "forFeature method not accepting EntitySchema as valid type for entities argument"
**Describe the bug**
First of all, awesome project, keep the great work! :)

I´m trying to use to use MikroORM in NestJS setup as a monorepo (so no glob file patterns for me), and trying to use the `autoLoadEntities` option to be able declare the entities in each module via `forFeature`.
The problem is that I would like to use EntitySchema declaration instead of using decorators, and the type in t

[2022-07-08 08:30] hungtcs commented on #14
Do I need to do anything else?
Hooks doesn't work in my project, but `constructor` and `getsubscribedentities` was called.

[2022-08-02 10:14] viweei commented on #14
Why can I only get em and typesense in the constructor? It is undefined in the afterCreate method.

[code]

here is log's output

[code]

[2022-08-02 10:25] B4nan commented on #14
You need to register the subscriber in your constructor, otherwise the ORM will create new instance of it, hence no constructor parameters from nestjs DI.

https://github.com/mikro-orm/nestjs/issues/14#issuecomment-765245844

[2022-08-04 08:19] tobiaskraus commented on #14
I tried many combinations. Including:

from comment [#14 (comment)](https://github.com/mikro-orm/nestjs/issues/14#issuecomment-765245844)

[code]

app.module.ts

[code]

### Problem: DependencyInjection for EntityManager in Subscriber not working

The `this.em` seems to be not the same as in my BuildingController. Because when I persist without flush in `beforeCreate` then it doesn't flush the cha

[2022-08-04 08:33] B4nan commented on #14
It is the same global instance, but it works differently based on the async context.

https://mikro-orm.io/docs/identity-map#how-does-requestcontext-helper-work

You can't persist things from inside `beforeCreate` event, that is too late, changesets are already computed. You need `onFlush` event.

https://mikro-orm.io/docs/events#using-onflush-event

Also note that `persist` is a sync method, you

[2022-08-12 23:29] duckies opened #81 "Dependency resolution fails with `@mikro-orm/cli` and `pnpm`"
**Describe the bug**
NestJS is unable to resolve `SqlEntityManager` in a pnpm monorepo only when `@mikro-orm/cli` is installed.

**Stack trace**
[code]

**Reproduction ([duckies/mikro-orm-cli-issue](https://github.com/duckies/mikro-orm-cli-issue))**
I created a minimal reproduction that should fail on `pnpm i && pnpm dev`, but will work once `@mikro-orm/cli` is removed from the `./packages/server/

[2022-08-14 11:57] B4nan commented on #67
The problem here is that repositories depend on the EM from core, while your test case depends on the one from driver package, which is its extension. Nest DI does not understand the extension, so injects two different things. If you change the EM import in your test to use `core` package, it passes.

[2022-08-14 12:18] B4nan commented on #68
I will need a complete reproductions for this, but so far this sounds more like misconfigurations than bugs.

With that said, there is a problem with EM injection when the nest js requests scopes are used (#67).

[2022-08-14 12:40] B4nan commented on #67
Oh right, found the trick, I can register the EM extension provides as aliases myself, simply by stating they depend on the core EM and return that.

[2022-08-14 12:51] B4nan commented on #68
Lets reopen with a reproduction if #82 does not help. But the OP seems like you just used wrong package for import.

[2022-08-14 12:51] #68 closed

[2022-08-14 13:01] #67 closed

[2022-08-14 13:02] B4nan commented on #71
Try this:

https://mikro-orm.io/docs/identity-map#userequestcontext-decorator

[2022-08-14 13:02] #71 closed

[2022-08-14 13:13] B4nan commented on #79
That's weird. The `EntityName` type comes from the ORM and explicitly has the `EntitySchema` in union:

https://github.com/mikro-orm/mikro-orm/blob/master/packages/core/src/typings.ts#L148

Aparently its caused by the generic type value.

[2022-08-14 13:19] #79 closed

[2022-08-14 17:53] B4nan commented on #81
I am not sure if this is something to fix at our end, the dependency definition is looking good to me, pnpm clearly installs multiple `@mikro-orm/core` packages, but that itself shouldn't matter here, as you are not using the CLI at all. Note that the same issue is there for any ORM imports, e.g. the EM from core, or even the `MikroORM` object. Clearly the `@mikro-orm/nestjs` package is resolving

[2022-08-15 02:13] duckies commented on #81
I have found others online who have similar issues with a myriad of nestjs modules because pnpm can resolve even pinned dependencies to different hashes. I agree trying to resolve this within the mikro-orm ecosystem is unnecessary and I'll close this issue. I will return to using yarn, or at least a package manager with a flat node_modules folder without all of the symlinking.

[2022-08-15 07:33] B4nan commented on #81
It would be indeed good to support pnpm but I am having hard times to even debug this, when going thru the symlinks it looks good to me 🤷 But `pnpm why` kinda confirms there are two installs.

I was thinking how to get around this, but it all seems semi breaking, so would rather keep that for v6. But we could have the CLI package with only peer deps and change how we import things in that package

[2022-08-27 22:29] #37 closed

[2022-09-01 08:33] B4nan commented on #81
A user reported this on slack, and we found out it was caused by depending on wrong version of `pg` package (which in fact should not be in the user dependencies at all unless used explicitly - its a transitive dependency of the driver package).

Maybe you had the same problem, will check the repro again to verify. I will have time for this next week probably, lets reopen so we dont forget. Want t

[2022-09-01 08:36] productdevbook commented on #81
@duckies
` "pg": "8.7.3",` pg version temporary solution install this

[2022-09-01 08:56] B4nan commented on #81
Generally its not about installing this exact version, its about either not installing it at all, or dependeing on the same version as the driver does.

And in this repro I don't see such problem, its quite bare bones... https://github.com/duckies/mikro-orm-cli-issue/blob/master/packages/server/package.json

[2022-09-13 07:13] B4nan commented on #81
Gave this another try, and pnpm is so weird. Only way I was able to make this work was by installing `@mikro-orm/knex` explicitly and using that to import `SqlEntityManager`.

FYI this is not about the CLI package, I get the same issue if I remove it. To me this sound like a pnpm resolution bug.

[2022-09-13 08:00] B4nan commented on #81
Looks like stating all the ORM packages as peer deps on the nestjs adapter helped - but it works only if I dont install the `@mikro-orm/knex` explicitly.

So if you have the `@mikro-orm/knex` installed, you need to use that for importing `SqlEntityManager`, otherwise it should work with v5.1.2 of the nestjs adapter.

[2022-10-29 04:41] wSedlacek commented on #44
Just tossing this here in case anyone finds it useful.
I am using it for `@nestjs/microservices` since Middleware doesn't run in this context.

[code]

It of course has the limitation (being at the interceptor level) of not affecting guards, but for my use case I actually don't need that as all my guards are at the gateway level which issue request to other services which would do their business l

[2022-11-28 10:08] bharath6365 opened #91 "How to approach Migrations inside a NestJS MikroORM Project?"
I'm using the MikroORM Nestjs Integration. I was wondering if the MikroORM Migration CLI can figure out the MikroORM configuration from MikroORM.forRoot() module configuration.
https://docs.nestjs.com/recipes/mikroorm

The reason I'd like to see something like this is because we store all DB connection information inside a config that is exposed through a Nestjs Module.

If this is not possible, c

[2022-11-28 14:02] B4nan commented on #91
Nope, this is not possible, the `forRoot` call can be anywhere, and even if we knew where it is, I don't see how it could work.

Do it the other way around, define everything in ORM config and import/use that when calling `forRoot`. You can even omit the `forRoot` parameter, and the ORM config will be loaded automatically.

[2022-11-28 14:02] #91 closed